<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
	    	<ion-icon name="menu"></ion-icon>
	    </button>
		<ion-title>Wagons</ion-title>
		<ion-buttons end>
	      	<button ion-button icon-only>
	        	<ion-icon name="create"></ion-icon>
	      	</button>
	    </ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-list *ngIf="train">
		<ion-item *ngFor="let wagon of train.wagons">
			<ion-avatar item-start>
				<img src="{{'assets/img/wagon_'+wagon.id+'.png'}}">
			</ion-avatar>
			<h2>{{wagon.name}}</h2>
			<h3>{{wagon.content.idResource | resource | capitalize}}</h3>
			<p>{{wagon.content.quantity}} / {{wagon.capacity}}</p>
		</ion-item>
	</ion-list>

	<!--<button ion-button color="primary" (click)="scheduleNotification()">Toggle Notif</button>-->

</ion-content>
