<ion-header>
  <ion-navbar>
    <ion-title>Station <span *ngIf="station">- {{station.name}}</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="destStatus"> 
    <ion-card-content *ngIf="destStatus == 'same'">
      <ion-icon name='pin' item-start></ion-icon>
      This is the current station of your train
    </ion-card-content>
    <ion-card-content *ngIf="destStatus == 'distant'">
      This station is not directly connected to your current station
    </ion-card-content>
    <button ion-button block color="secondary" *ngIf="destStatus == 'ok'" (click)="goToStation()">
      Go to this station
    </button>
  </ng-container>  

  <ion-list *ngIf="station">
      <ion-list-header no-margin>
        Available resources
      </ion-list-header>
      <ion-item *ngFor="let res of station.resourcesSell">
        <ion-avatar item-start>
          <img src="assets/img/wagon.png">
        </ion-avatar>
        <h3>{{res.idResource | resource | capitalize}}</h3>
      </ion-item>

      <ion-list-header no-margin>
        Sought resources
      </ion-list-header>
      <ion-item *ngFor="let res of station.resourcesBuy">
        <ion-avatar item-start>
          <img src="assets/img/wagon.png">
        </ion-avatar>
        <h3>{{res.idResource | resource | capitalize}}</h3>
      </ion-item>

      <ion-list-header no-margin>
        Next stations
      </ion-list-header>
      <ng-container *ngFor="let section of station.sections"> 
        <button ion-item *ngIf="section.toStation" (click)="goToStationPage(section.toStation.id)">
          <ion-avatar item-start>
            <img src="assets/img/wagon.png">
          </ion-avatar>
          <h2>{{section.toStation.name}}</h2>
          <h3>Distance: {{section.distance}}</h3>
        </button>
      </ng-container> 
    </ion-list>
</ion-content>
